.sidenava {
    height: 100%;
    width: 13%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(27, 27, 27, 0.9);
    overflow-x: hidden;
    padding: 1%;
  }
  
  .sidenava a {
    padding: 4% 8%;
    text-decoration: none;
    font-size: 100%;
    color: white;
    display: block;
  }

  .sidenava button{
    margin-left: 15px;
    margin-top: 5px;
  }
  
  .sidenava a:hover {
    color: rgba(131, 221, 120, 0.9);
  }

  .bottoma{
    margin-top: 5%;
  }

  .btn-acta{
    background-color: rgba(71, 163, 59, 0.9);
    color: rgb(255, 255, 255);
    border: 2px solid rgba(71, 163, 59, 0.9);
    border-radius: 5px;
    padding: 2% 5%;
    font-style: bold;
    transition: .3s;
  }

  .btn-acta:hover{
    background-color: rgba(33, 119, 22, 0.9);
    color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(33, 119, 22, 0.9);
    border-radius: 5px;
    padding: 2% 5%;
    font-style: bold;
    transition: .3s;
  }